*{
  box-sizing: border-box;

}
body{
  background: url('../images/bg.png') no-repeat center;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  position: relative;
  overflow-x: hidden;
}
img{
  width: 100%;
}

/*Start Content*/
.nav-fixed{
  position: fixed;
  padding: 0;
}
.home-logo{
  width: 60%;
  margin: 20% auto 0;
}
.home-logo img{
  width: 100%;
  height: 100%;
}
.nav{
  margin: 80% 0 45%;
}
.nav-list{
  list-style: none;
  padding: 0 0 0 20%;
}
.nav-list h5{
  position: relative;
}
.nav-list a{
  text-decoration: none;
  color: #aeaeae;
  transition: all 0.2s ease-in-out;
}
.first-page{
  color: #7e1012;
}
.nav-list a:hover{
  color: #7e1012;
  transition: all 0.2s ease-in-out;
}
.selected-dash{
  font-size: 2em;
  font-weight: 100;
  position: absolute;
  bottom: -7px;
  right: 8px;
  color: #e4e2e5;
  font-family: 'Open Sans', sans-serif;
}
.font-edit{
  font-size: 0.79em;
}
.remove-padding{
  padding: 0;
  position: relative;
}
.header-bg{
  width: 100%;
  height: 100%;
}
.header-bg img{
  width: 100%;
  height: 100%;
}
.adress-map{
  margin-bottom: 10%;
  padding-left: 20%;
  font-family: 'Open Sans', sans-serif;
}
.position-adress{
  margin: 0;
  font-size: 0.8em;
}
.padding-fix{
  padding-right: 0;
  margin-right: 3%;
}
.adress-phone{
  padding-left: 20%;
  font-family: 'Open Sans', sans-serif;
}
.fa-map-marker,
.fa-phone{
  font-size: 1em;
  color: #7e1012;
}
.header-bg-color{
  background-color: rgba(21, 20, 20, 0.1);
  width: 100%;
  height: 100%;
  position: absolute;
}
.header-text{
  position: absolute;
  top: 39%;
  left: 35%;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 1.6em;
}
.header-text .header-font{
  font-weight: 100;
  font-size: 1.2em;
}
.header-text-font{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
}
.header-border{
  width: 70%;
  height: 8em;
  border: 1px solid rgba(255, 255, 255, 0.302);
  position: absolute;
  bottom: -25%;
  left: 15%;
  transform: rotate(45deg);
}
.angles{
  width: 7%;
  text-align: center;
  top: -60px;
  left: 4%;
  cursor: pointer;
}
.header-shapes{
  width: 27.2%;
  position: absolute;
  top: 5.2%;
  right: 0;
}
.section2-shapes{
  position: absolute;
  right: 0;
  width: 8.3%;
}
/* Second Section */
.border-made,
.border2-made,
.border3-made,
.border4-made,
.border5-made,
.border6-made,
.border7-made{
  height: 6em;
  position: absolute;
  width: 0.05em;
  background: rgba(126, 16, 18, 0.2);
  top: 0;
  right: 51.2%;
}
.border2-made{
  top: 10%;
  height: 27em;
}
.border3-made{
  top: 24.2%;
  height: 21em;
}
.border4-made{
  top: 39.5%;
  height: 27em;
}
.border5-made{
  top: 53.5%;
  height: 34em;
}
.border6-made{
  top: 71%;
  height: 20em;
}
.border7-made{
  top: 83%;
  height: 30em;
}
.college-header{
  text-align: center;
  width: 45%;
  border-bottom: 1px solid #7e1012;
  margin: 8% 0 0 33%;
}
.college-header h4,
.scholarship-header h4,
.geelong-header h4,
.scholar-header h4{
  font-family: 'Open Sans', sans-serif;
  color: #7e1012;
}
.college-header h1,
.scholarship-header h1,
.geelong-header h1,
.scholar-header h1{
  font-weight: 100;
  margin-top: -2%;
  word-spacing: 0.2em;
  color: #343434;
}
.college-para,
.salvation-para,
.geelong-para,
.scholar-para{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #8a898b;
  margin-top: 3%;
}
.college-para p{
  font-size: 0.8em;
}
.micheal-logo{
  width: 12%;
  float: left;
  margin-left: 30%;
}
.micheal-logo img{
  width: 100%;
}
.micheal p{
  margin-right: 32%;
  margin-top: 3%;
  float: right;
}
.founder{
  float: left;
  text-align: left;
  color: #7e1012;
  font-weight: bold;
}
.group-respo{
  width: 89%;
  margin-top: 20%;
}
.group-respo img{
  width: 100%;
}
.bird{
  width: 26%;
  position: absolute;
  top: 3%;
  left: 35.6%;
}
.scholarship{
  margin-top: 60%
}
.scholarship-header h1{
  word-spacing: 0.1em;
}
.scholarship-header{
  border-bottom: 1px solid #7e1012;
  width: 80%;
}
.salvation-para{
  text-align: inherit;
  width: 77%;
  margin-top: 8%;
  font-size: 0.8em;
}
.geelong,
.scholar{
  margin-left: 25%;
  margin-top: 25%;
}
.scholar{
  margin-top: 47%;
}
.geelong-header,
.scholar-header{
  border-bottom: 1px solid #7e1012;
}
.geelong-para,
.scholar-para{
  text-align: left;
  margin-top: 8%;
  width: 90%;
  font-size: 0.8em;
}

.music{
  width: 100%;
  position: absolute;
  top: 71%;
  right: 0;
}
.sachs{
  width: 26%;
  position: absolute;
  top: 18.7%;
  left: 35.6%;
}

/*Third*/
.cultural{
  margin-top: 19%;
}
.world-map{
  position: absolute;
  top: 29.5%;
  width: 89%;
  z-index: -1;
}
.earth{
  width: 26%;
  position: absolute;
  top: 33.2%;
  left: 35.6%;
}
.sponsored{
  margin-top: 53%;
}
.group-logo{
  width: 26%;
  position: absolute;
  top: 48%;
  left: 35.6%;
}
.margin-row{
  margin-top: 15%;
}
.school-bag{
  position: absolute;
  width: 17%;
  top: 58%;
  left: 60%;
  z-index: -1
}
.group-2{
  width: 80%;
  margin-top: 40%;
  float: right;
}
.team{
  width: 88%;
  margin-top: 50%;
}
.founders{
  width: 83%;
}
.viqueque{
  margin-top: 55%;
}
.version-2{
  position: absolute;
  top: 62%;
  z-index: -1;
}
.location{
  width: 26%;
  position: absolute;
  top: 65%;
  left: 35.6%;
  z-index: 99;
}
.legacy{
  margin-top: 40%;
}
.pen{
  margin-top: 38%;
  width: 90%;
  float: right;
}
.note{
  width: 26%;
  position: absolute;
  top: 78%;
  left: 35.9%;
  z-index: 99;
}
.margin-up{
  margin-top: 58%;
  width: 75%;
  float: right;
}
.tool{
  width: 23%;
  position: absolute;
  top: 93%;
  left: 36.9%;
  z-index: 99;
}
.support-para span{
  display: block;
  position: relative;
  margin-top: 20px;
  padding: 10px 0px 0px 20px;
  color: #7a0f11;
  font-family: 'Libre Baskerville', serif;
}
.support-para span b{
  position: absolute;
  top: -5px;
  left: 0;
  color: #7a0f11;
  font-size: 2.8em;
  font-weight: 100;
}
.building{
  width: 40%;
  position: absolute;
  bottom: 4%;
  left: 3%;
  z-index: -1;
}

.footer{
  background: #f6f4f6;
  clear: both;
  width: 82%;
  margin-left: 17.9%;
}
.left-footer{
  width: 50%;
  text-align: left;
  float: left;
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
  color: #343434;
  padding: 2% 0px 0.1% 8%;
}
.right-footer{
  float: right;
  margin-right: 5%;
}
.right-footer ul{
  float: right;
  list-style: none;
}
.right-footer ul li:first-child{
  font-size: 14px;
  margin-right: 20px;
  font-family: 'Open Sans', sans-serif;
}
.right-footer ul li{
  margin-right: 10px;
  float: left;
  line-height: 50px;
}
.right-footer ul li a{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px dotted #000;
  text-align: center;
  line-height: 63px;
}
.right-footer ul li a img{
  width: auto;
}
.clear{
  clear: both;
}
.visible-sm{
  display: none;
}

/* Media Query */
@media screen and (max-width:1270px) {
  .border2-made{
    top: 9%;
  }
  .border4-made {
    top: 38.8%;
  }
  .border6-made{
    top: 70%;
  }
  .border7-made{
    top: 82%;
  }
}
@media screen and (max-width:1260px) {
  .angles{
    left: 5%;
  }
  .college-para p{
    font-size: 0.7em;
  }
  .nav-list h5{
    font-size: 0.7em;
  }
  .selected-dash{
    right: 20%;
  }
}
@media screen and (max-width:1165px) {
  .angles{
    left: 6%;
  }
  .border3-made{
    height: 18em;
  }
  .group-logo{
    top: 50%;
  }
  .border5-made{
    top: 55.5%;
    height: 26em;
  }
  .location{
    top: 66%;
  }
  .border6-made{
    top: 72%;
    height: 16em;
  }
  .border7-made{
    top: 84%;
    height: 23em;
  }
  .note{
    top: 79%;
  }
}
@media screen and (max-width:1124px) {
  .angles{
    left: 8%;
  }
  .college-para p{
    font-size: 0.6em;
  }
  .micheal p{
    margin-right: 33%;
  }
  .selected-dash{
    right: 10%;
  }
}
@media screen and (max-Width:1024px) {
  .geelong-para,
  .scholar-para{
    font-size: 0.7em;
  }
  .border2-made{
    height: 22em;
  }
  .border3-made{
    height: 16em;
  }
  .border7-made{
    height: 20em;
  }
  .college-header h4,
  .scholarship-header h4,
  .geelong-header h4,
  .scholar-header h4{
    font-size: 0.9em;
  }
  .college-header h1,
  .scholarship-header h1,
  .geelong-header h1,
  .scholar-header h1{
    font-size: 1.5em;
  }
}
@media screen and (max-width:992px) {
  .angles{
    left: 7%;
  }
  .college-para p{
    font-size: 0.6em;
  }
  .micheal p{
    margin-right: 30%;
  }
  .selected-dash{
    right: 10%;
  }
  .header-text .header-font{
    font-size: 1em;
  }
  .header-border{
    width: 66%;
    height: 6em;
    bottom: -1%;
    left: 16%;
  }
}
@media screen and (max-width:895px) {
  .micheal p{
    margin-right: 25%;
  }
  .selected-dash{
    right: 0;
  }
  .angles{
    width: 9%;
    left: 7%;
  }
  .border3-made {
    height: 14em;
  }
  .border4-made{
    height: 23em;
  }
  .border5-made{
    height: 20em;
  }
  .border6-made{
    height: 13em;
  }
  .border7-made{
    height: 15em;
  }
  .header-shapes{
    top: 6.2%;
  }
}
@media screen and (max-width:767px) {
  html{
    overflow-x: hidden;
  }
  .angles{
    left: 8%;
  }
  .adress-map,
  .adress-phone{
    display: none;
  }
  .nav-fixed{
    position: relative;
  }
  .home-logo{
    width: 12%;
    margin: 2%;
    float: left;
  }
  .nav{
    float: right;
    margin: 0;
  }
  .mobile-menu{
    width: 4%;
    float: right;
    margin: 4% 2% 0;
    cursor: pointer;
  }
  .visible-sm{
    display: block;
  }
  .nav{
    display: none;
    background: url('../images/bg.png') no-repeat center;
    z-index: 99999;
    position: absolute;
    top: 100%;
    width: 100%;
  }
  .nav-list h5{
    font-size: 1em;
  }
  .nav-list{
    padding: 0 0 0 2%;
    width: 50%;
  }
  .selected-dash{
    display: none;
  }
  .mob-padding{
    padding-left: 6%;
  }
  .geelong-para,
  .scholar-para{
    font-size: 0.6em;
  }
  .college-header h1,
  .scholarship-header h1,
  .geelong-header h1,
  .scholar-header h1{
    font-size: 1em;
  }
  .college-header h4,
  .scholarship-header h4,
  .geelong-header h4,
  .scholar-header h4{
    font-size: 0.7em;
  }
  .border2-made{
    height: 14em;
  }
  .sachs{
    top: 16.7%;
  }
  .border3-made{
    top: 22.2%;
  }
  .border4-made{
    height: 18em;
  }
  .footer{
    width: 100%;
    margin: auto;
  }
  .left-footer{
    width: 35%;
    font-size: 0.5em;
    padding-top: 4%;
  }
}
@media screen and (max-width:650px){
  .angles{
    left: 10%;
  }
}
@media screen and (max-width:610px){
  .header-text{
    top: 39%;
    left: 40%;
    font-size: 1.2em;
  }
}
@media screen and (max-width:580px){
  .header-text{
    top: 39%;
    left: 40%;
    font-size: 1.2em;
  }
}
@media screen and (max-width:576px){
    .hidden-f{
      display: none;
    }
    .header-text{
      left: 38%;
    }
    .border-made, .border2-made, .border3-made, .border4-made, .border5-made, .border6-made, .border7-made{
      right: 43.6%;
    }
    .border2-made{
      height: 6em;
      top: 0;
    }
    .sachs{
      top: 1.7%;
      width: 40%;
    }
    .mob-padding{
      padding: 0;
    }
    .scholarship-header,
    .geelong-header,
    .scholar-header{
      position: relative;
      border-bottom: 0px;
      padding: 22px 0 22px 60px;
      margin-right: 30px;
      display: block;
      background: #f8f8f8;
      width: 100%;
      font-size: 1.4em;
    }
    .scholarship-header h4,
    .geelong-header h4,
    .scholar-header h4{
      position: absolute;
      top: -40%;
    }
    .college-para,
    .salvation-para,
    .geelong-para,
    .scholar-para{
        padding-left: 60px;
    }
    .border3-made{
      top: 18.7%;
      height: 5em;
    }
    .earth{
      top: 19.9%;
      width: 40%;
    }
    .cultural{
      margin-top: 120%;
    }
    .scholar{
      margin: auto;
    }
    .world-map{
      width: 100%;
      top: 27.5%;
    }
    .border4-made{
      height: 5em;
      top: 32.2%;
    }
    .group-logo{
      width: 40%;
      top: 33%;
    }
    .sponsored{
      margin-top: 90%;
    }
    .group-2{
      width: 60%;
      margin-top: 0;
    }
    .school-bag{
      width: 23%;
      top: 115%;
      left: 11%;
    }
    .border5-made{
      height: 5em;
      top: 50.2%;
    }
    .location{
      width: 40%;
      top: 51%;
    }
    .team{
      width: 60%;
      margin-left: 39%;
    }
    .version-2{
      top: 54%;
    }
    .border6-made{
      height: 5em;
      top: 67%;
    }
    .note{
      width: 40%;
      top: 69%;
    }
    .pen{
      margin-top: 10%;
    }
    .legacy{
      margin-top: 50%;
    }
    .viqueque{
      margin-left: auto;
      margin-top: 5%;
    }
    .border7-made{
      height: 4em;

    }
    .founders{
      width: 65%;
      margin-left: 2%;
      margin-top: 10%;
    }
    .college-para,
    .salvation-para,
    .geelong-para,
    .scholar-para{
      font-size: 0.9em;
    }
    .tool{
      width: 40%;
      top: 84.5%;
      left: 35.9%;
    }
}

@media screen and (max-width:380px) {
  .nav-list{
    width: 60%;
  }
  .nav-list h5{
    font-size: 0.8em;
  }
  .mobile-menu{
    width: 10%;
  }
  .home-logo{
    width: 22%;
  }
  .header-text{
    left: 30%;
    font-size: 1em;
  }
  .angles{
    width: 15%;
    top: -32px;
    left: 3%;
  }
  .border-made, .border2-made, .border3-made, .border4-made, .border5-made, .border6-made, .border7-made{
    right: 46.6%;
  }
  .sachs{
    left: 33%;
  }
  .border3-made{
    height: 4em;
  }
  .earth{
    left: 33%;
    top: 19.5%
  }
  .border4-made{
    top: 31.2%;
    height: 4em;
  }
  .group-logo{
    top: 32.1%;
    left: 33%;
  }
  .border5-made{
    top: 49.2%;
  }
  .location{
    top: 50.5%;
    left: 33%;
  }
  .border6-made{
    top: 66.5%;
  }
  .note{
    top: 68.1%;
    left: 33%;
  }
  .border7-made {
    top: 82.8%;
  }
  .tool{
    top: 83.6%;
    left: 33%;
  }
  .left-footer{
    width: 70%;
  }
}
